<!-- Header -->
<div class="p-4 flex justify-between items-center border-b border-green-500">
  <h2 class="text-lg font-bold uppercase">CONTACTS</h2>
  <div class="flex gap-2 [&>*]:cursor-pointer">
    <button class="hover:bg-green-900 p-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
        />
      </svg>
    </button>
    <button class="hover:bg-green-900 p-2" name="addNew" (click)="onAddNew()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
    </button>
  </div>
</div>

<!-- chat room List -->
<div class="overflow-y-auto flex-1">
  <!-- Add new mode -->
  <div
    *ngIf="isAddNewChatRoom"
    class="flex items-center p-3 hover:bg-green-900 bg-green-900 cursor-pointer border-b border-green-500/30"
  >
    <div class="mr-3 w-8 h-8"></div>
    <div class="flex-1 min-w-0">
      <p class="font-bold truncate">New message</p>
    </div>
  </div>

  <!-- From API -->
  <div
    *ngFor="let cr of chatrooms; let i = index"
    class="flex items-center p-3 hover:bg-green-900 cursor-pointer border-b border-green-500/30"
    [class.bg-green-900]="cr.id === currentChatRoomId"
    (click)="onSlectChatRoom(cr.id)"
  >
    <div
      class="mr-3 w-8 h-8 flex items-center justify-center border border-green-500"
    >
      <span class="text-sm font-bold">{{getChatName(cr)?.[0] || 'NaN'}}</span>
    </div>
    <div class="flex-1 min-w-0">
      <p class="font-bold truncate">{{ getChatName(cr) }}</p>
      <p class="text-sm text-white truncate">
        {{ getLastMessenger(cr.messages) }}
      </p>
    </div>
    <div class="text-xs text-green-300 mr-2">
      {{ getLastMessengerTime(cr.messages) }}
    </div>
    <context-dropdown
      [id]="cr.id + '-' + i"
      [chatroomData]="cr"
      (setCurrentDeleteChatroom)="setCurrentDeleteChatroom($event)"
    ></context-dropdown>
  </div>
</div>

<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Confirm delete</h3>
    <p class="py-4">
      Are u sure to delete this chatroom with
      {{ getChatName(chatRoomDeleteData) }}
    </p>
    <div class="w-full justify-center gap-x-3 flex">
      <button
        class="btn btn-md border border-white/20"
        (click)="onCloseModalConfirm()"
      >
        Cancel
      </button>
      <button class="btn btn-md btn-error" (click)="onDeleteChatRoom()">
        Delete
      </button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
