@import "tailwindcss";
@plugin "daisyui";

/* Apply IBM Plex Mono to code elements */
* {
  font-family: 'IBM Plex Mono', monospace;
}

input {
    color: white !important;
}

input::placeholder {
    color: #adadad !important;
}
